<% content_for :head do  %>
  <%= stylesheet_link_tag "contact.css" %>
<% end %>

<div id="page-title">

        <h1>Contact us</h1>
        <p>Any questions, inquiries, suggestions, feedback ?</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-8">

                                <h3>Send us a message</h3>

                                <p>Use the form below to send us your query.</p>
                                
                                <%  if flash[:notice] %>
                                <div class="alert alert-notice clearfix" data-alert="alert">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <%= flash[:notice] %>
                                </div>
                                <% end %>
                                
                                <%= simple_form_for @message, :url => website_contact_process_path() do |form|  %>
                                
                                <%= form.input :name %>
                                <%= form.input :email %>
                                <%= form.input :phone %>
                                <%= form.input :country %>
                                <%= form.input :message, :as => :text, :input_html => {:rows => 7}  %>
                                <%= form.button :submit, "Submit", :class => 'btn btn-success btn-large' %>

                                <% end %>                             

                        </div> <!-- /grid-8 -->


                        <div class="grid-4">

                                <div class="sidebar">

                                        <h3> More Information</h3>

                                        <p>
                                                <strong>Address</strong> <br>
                                                No.7,15th Rd,Runwal Shopping Center,  <br/>
                                                Next to Mumbai bank, Chembur (East) <br>
                                                Mumbai, Maharashtra, India 400071.				
                                        </p>

                                        <p>
                                                <strong>Phone</strong><br>
                                                <b>(+91) 022-61245899 </b><br>
                                                <small>(+91) 7208888988 (alternative)</small><br>
                                        </p>

                                        <p>
                                                <strong>Email</strong><br>
                                                Sales:  <a href="mailto:sales@fleetnext.com">sales@fleetnext.com</a> <br>
                                                Support:  <a href="mailto:help@fleetnext.com">help@fleetnext.com</a> <br>
                                        </p>						

                                </div> <!-- /sidebar -->					


                        </div> <!-- /grid-4 -->

                </div> <!-- /row -->						

        </div> <!-- /container -->

</div> <!-- /content -->