<% content_for :head do  %>
  <%= stylesheet_link_tag "contact.css" %>
<% end %>

<div id="page-title">

        <h1>Contact us</h1>
        <p>Any questions, inquiries, suggestions, feedback ?</p>

</div> <!-- /page-title -->


<div id="contact-map">
  <iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Runwal+Shopping+Center,+Chembur,+Maharashtra,+India&amp;aq=0&amp;oq=runwal+shpo&amp;sll=37.0625,-95.677068&amp;sspn=42.310334,89.296875&amp;ie=UTF8&amp;hq=&amp;hnear=Runwal+Shopping+Center,+Chembur,+Mumbai,+Maharashtra,+India&amp;t=m&amp;ll=19.059644,72.896819&amp;spn=0.003549,0.00456&amp;z=17&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Runwal+Shopping+Center,+Chembur,+Maharashtra,+India&amp;aq=0&amp;oq=runwal+shpo&amp;sll=37.0625,-95.677068&amp;sspn=42.310334,89.296875&amp;ie=UTF8&amp;hq=&amp;hnear=Runwal+Shopping+Center,+Chembur,+Mumbai,+Maharashtra,+India&amp;t=m&amp;ll=19.059644,72.896819&amp;spn=0.003549,0.00456&amp;z=17&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>        
</div> <!-- /contact-map -->



<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-8">

                                <h3>Send us a message</h3>

                                <p>Use the form below to send us your query.</p>
                                
                                <%  if flash[:notice] %>
                                <div class="alert alert-notice clearfix" data-alert="alert">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <%= flash[:notice] %>
                                </div>
                                <% end %>
                                
                                <%= simple_form_for @message, :url => website_contact_process_path() do |form|  %>
                                
                                <%= form.input :name %>
                                <%= form.input :email %>
                                <%= form.input :phone %>
                                <%= form.input :country %>
                                <%= form.input :message, :as => :text, :input_html => {:rows => 7}  %>
                                <%= form.button :submit, "Submit", :class => 'btn btn-success btn-large' %>

                                <% end %>                             

                        </div> <!-- /grid-8 -->


                        <div class="grid-4">

                                <div class="sidebar">

                                        <h3> More Information</h3>

                                        <p>
                                                <strong>Address</strong> <br>
                                                No.7,15th Rd,Runwal Shopping Center  <br/>
                                                Next to Mumbai bank, Chembur <br>
                                                Mumbai, Maharashtra, India 400071.				
                                        </p>

                                        <p>
                                                <strong>Phone</strong><br>
                                                Phone: (+91)7208888988<br>
                                                Fax: (+91)22-25286688<br>
                                        </p>

                                        <p>
                                                <strong>Email</strong><br>
                                                Sales:  <a href="mailto:sales@fleetnext.com">sales@fleetnext.com</a> <br>
                                                Support:  <a href="mailto:help@fleetnext.com">help@fleetnext.com</a> <br>
                                        </p>						

                                </div> <!-- /sidebar -->					


                        </div> <!-- /grid-4 -->

                </div> <!-- /row -->						

        </div> <!-- /container -->

</div> <!-- /content -->