<% content_for :head do  %>
  <%= stylesheet_link_tag "homepage.css" %>
<% end %>





<div id="page-title">

        <h1>Web-based fleet management</h1>
        <p>Easy to use software for vehicle maintenance and fleet administration</p>

</div> <!-- /page-title -->

<div id="content">

        <div class="container">

                <div class="row">
                        <div id="welcome" class="grid-12">
                                <%= image_tag "tour/home.png", :alt => "Fleet management and vehicle maintenance web-based software" %>
                                <br/>
                                <h2>Manage vehicle document renewals, preventive maintenance, service work-orders, fuel log, tyres (tires), meter readings and much more with Fleetnext</h2>
                                <br/>
                        </div>
                </div> <!-- /row -->

                <br/><br/>

                <div class="row" id="big-buttons">
                  <div class="grid-6">
                    <%= link_to "Take a tour", tour_path, :class => "btn btn-large btn-primary pull-right" %>
                  </div>
                  <div class="grid-6">
                    <%= link_to "See features", features_path, :class => "btn btn-large btn-danger" %>
                  </div>
                </div>

                <hr class="row-divider" />

                <div class="row divider service-container">

                        <div class="grid-3">
                          <div class="service-item">
                                 <%= image_tag "tour/h1.png", :alt => "Fleetnext description" %>                                  
                                 <h3>
                                          What is it ?
                                                </h3>

                                                <p>Fleetnext is a vehicle maintenance and fleet management software that helps organizations 
                                                  simplify vehicle administration, save time and reduce costs.                                                   
                                                 </p>
                                                <p>
                                                  <%= link_to "Take a tour", tour_path, :class => "read" %> <br/>
                                                  <%= link_to "See features list", features_path, :class => "read" %>
                                                </p>
                                </div>
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <%= image_tag "tour/h2.png", :alt => "Any type of vehicle can be managed with Fleetnext" %>  
                                        <h3>
                                           Who is it for ?
                                        </h3> 

                                        <p>Fleetnext is ideal for fleets of cars, buses, vans, heavy trucks, light trucks, liquid tankers, container trucks, trailers, fork lifts , cranes & specialized equipments. 
                                        It handles any fleet size ranging from few vehicles to thousands of vehicles.</p>


                                </div> 
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <%= image_tag "tour/h3.png", :alt => "How does Fleetnext work" %>
                                        <h3>
                                             How does it work ?
                                        </h3> 

                                        <p>Fleetnext is a web-based software that can be accessed from any office or branch using a computer with internet connectivity and web browser. No local software installation or download is required.</p>

                                </div>				
                        </div>

                        <div class="grid-3">
                                <div class="service-item">
                                        <%= image_tag "tour/h4.png", :alt => "Fleetnext pricing" %>
                                        <h3>
                                                What is the cost ?
                                        </h3> 

                                        <p>Fleetnext is an affordable solution that is offered on subscription (rental) basis. No long term commitment is required.</p>
                                        <p><%= link_to "See pricing", pricing_path, :class => "read" %></p>

                                </div>			
                        </div>
                </div> <!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->