<% content_for :head do  %>
  <%= stylesheet_link_tag "plan.css" %>
  <%= stylesheet_link_tag "faq.css" %>
  <%= javascript_include_tag "jquery.lightbox-0.5.js" %>
<% end %>

<div id="page-title">

        <h1>Pricing Plans</h1>
        <p>No hidden costs - support, hosting, backup and updates all included </p>

</div> <!-- /page-title -->




<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">

                                <div class="pricing-plans plans-6">

                                        <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Plan 10	        		
                                                        </div> <!-- /plan-title -->

                                                        <div class="plan-price">
                                                            <h3><%= format_currency(@country) %> <%= raw calc_price(4999,99,@country) %></h3>
                                                            <h4>per year</h4>
                                                         </div> <!-- /plan-price -->  

                                                </div> <!-- /plan-header -->  

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li>Upto <strong>10</strong> vehicles</li>
                                                                        <li>Upto <strong>3</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                 Plan 25		        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <h3><%= format_currency(@country) %> <%= raw calc_price(9999,199,@country) %></h3>
                                                        <h4>per year</h4>
                                                    </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li>Upto <strong>25</strong> vehicles</li>
                                                                        <li>Upto <strong>10</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container best-value">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Plan 50	        		
                                                        </div> <!-- /plan-title -->

                                                        <div class="plan-price">
                                                            <h3><%= format_currency(@country) %> <%= raw calc_price(19999,399,@country) %></h3>
                                                            <h4>per year</h4>
                                                        </div> <!-- /plan-price -->  

                                                </div> <!-- /plan-header -->	          

                                                <div class="plan-features">
                                                                <ul>					
                                                                        <li>Upto <strong>50</strong> vehicles</li>
                                                                        <li>Upto <strong>20</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->


                                    <div class="plan-container best-value">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                 Plan 100                  
                                                        </div> <!-- /plan-title -->


                                                        <div class="plan-price">
                                                            <h3><%= format_currency(@country) %> <%= raw calc_price(29999,599,@country) %></h3>
                                                            <h4>per year</h4>
                                                        </div> <!-- /plan-price -->  

                                                </div> <!-- /plan-header -->              

                                                <div class="plan-features">
                                                                <ul>                    
                                                                        <li>Upto <strong>100 </strong> vehicles</li>
                                                                        <li>Upto <strong>50</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">              
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>              
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->



                                    <div class="plan-container best-value">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Plan 150                  
                                                        </div> <!-- /plan-title -->

                                                        <div class="plan-price">
                                                            <h3><%= format_currency(@country) %> <%= raw calc_price(39999,799,@country) %></h3>
                                                            <h4>per year</h4>
                                                        </div> <!-- /plan-price -->  

                                                </div> <!-- /plan-header -->              

                                                <div class="plan-features">
                                                                <ul>                    
                                                                        <li>Upto <strong>150 </strong> vehicles</li>
                                                                        <li>Upto <strong>50</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">              
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>              
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->                                    


                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Plan 250                  
                                                        </div> <!-- /plan-title -->

                                                        <div class="plan-price">
                                                            <h3><%= format_currency(@country) %> <%= raw calc_price(49999,999,@country) %></h3>
                                                            <h4>per year</h4>
                                                        </div> <!-- /plan-price -->  

                                                </div> <!-- /plan-header -->          

                                                <div class="plan-features">
                                                                <ul>                    
                                                                        <li>Upto <strong>250 </strong> vehicles</li>
                                                                        <li>Upto <strong>50</strong> users</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">              
                                                                <a href="https://secure.fleetnext.com/signup" class="btn btn-success">Signup</a>              
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->

                                    </div> <!-- /plan-container -->


                                </div> <!-- /pricing-plans -->

                        </div> <!-- /grid-12 -->

                </div> <!-- /row -->   

              <p><strong>For a fleet size of more than 250 vehicles, please contact us at <%= mail_to "sales@fleetnext.com", "sales@fleetnext.com" %> for a custom quotation.</strong></p>

                <div class="row">
                    <div class="grid-12 well">
                        <p> <strong>All plans come with :</strong> <br/><br/>
                            <i class="icon-ok"> </i>  Access to all modules and features <br/>
                            <i class="icon-ok"> </i>  Upload important paperwork and documents <br/>
                            <i class="icon-ok"> </i>  Email + chat support  <br/>
                            <i class="icon-ok"> </i>  SSL security <br/>
                            <i class="icon-ok"> </i>  Take account backups anytime  <br/>                            
                        </p>
                    </div> <!-- /grid-12 -->
                </div>     <!-- /row -->           
                
                <div class="row">
                  <div class="grid-12">
                     <ol class="faq-list">

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">1</div></div>
                                                <div class="faq-text">
                                                        <h4>How is Fleetnext priced ?</h4>
                                                        <p>We offer multiple plans based on the <strong>size of your fleet (number of vehicles)</strong>. 
                                                          Each plan is available on yearly subscription basis.
                                                          As the size of your fleet changes, you can upgrade/downgrade your plan accordingly.                                                         
                                                        </p>	
                                                </div>	
                                        </li>    


                                        <li>
                                           <div class="faq-icon"><div class="faq-number">2</div></div>
                                                <div class="faq-text">
                                                        <h4>Are there any setup fees ?</h4>
                                                        <p>No. This is covered in yearly subscription cost. There are no hidden fees for 
                                                          setup, hosting, customer support or version updates.
                                                        </p>    
                                           </div>   
                                        </li>                                      

                                        <li>
                                           <div class="faq-icon"><div class="faq-number">3</div></div>
                                                <div class="faq-text">
                                                        <h4>What are my payment options ?</h4>
                                                        <p> To make a payment, log into your account and go to <i>Subscription</i> page under <i>Account Settings</i> menu.
                                                            You can pay online using  <b>credit card </b> or  <b>debit card </b> (VISA, MASTER CARD) through secure <i>Paypal express checkout</i> (<%= link_to "http://www.paypal.com", "http://www.paypal.com" %>).
                                                            We also accept  <b>bank transfers </b>.
                                                            Please <%= link_to "contact us", contact_path() %> for any help.</p>  
                                           </div>   
                                        </li>                                          

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">4</div></div>
                                                <div class="faq-text">
                                                        <h4>How does free trial work ?</h4>
                                                        <p>You are encouraged to sign up for a no-obligation free trial to evaluate Fleetnext immediately. 
                                                           The free trial gives you unrestricted access to all modules and features for 30 days. 
                                                           No credit card or payment information is required to signup for free trial.
                                                         </p>	
                                                </div>	
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">5</div></div>
                                                <div class="faq-text">
                                                   <h4>What happens after free trial expires ?</h4>
                                                    <p>Towards the end of your free trial period, we will contact you by email.
                                                       You can purchase one of our yearly subscription plans to continue the use of Fleetnext.                                                      
                                                    </p>	
                                            </div>
                                        </li>
                                                                                                
                           </ol>
                  </div>
                </div><!-- /row -->

                <hr/>
                     
                <div class="row">
                    <div class="grid-12 pagination-centered">
                      <%= link_to "About fleet software as a service", why_fleetnext_path %>
                    </div>
                </div>


                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->