<% content_for :head do  %>
  <%= stylesheet_link_tag "plan.css" %>
  <%= stylesheet_link_tag "faq.css" %>
  <%= javascript_include_tag "jquery.lightbox-0.5.js" %>
<% end %>

<div id="page-title">

        <h1>Pricing Plans</h1>
        <p>Yearly subscription plans. No hidden costs. Affordable pricing.</p>

</div> <!-- /page-title -->




<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">

                                <div class="pricing-plans plans-4">

                                        <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Basic	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee">Rs.</span>15000<span class="term">Per year</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li>Upto <strong>25</strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li>Upto <strong>10</strong> users</li>
                                                                        <li><strong>Unlimited</strong> file uploads</li>
                                                                        <li> <strong>Limited </strong> phone support</li>
                                                                        <li><strong>Email + Chat </strong> support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li>Take <strong>backups </strong> anytime</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="http://secure.fleetnext.com/signup" class="btn">Signup free trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                 Medium		        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee">Rs.</span>30000<span class="term">Per year</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li>Upto <strong>50</strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li>Upto <strong>20</strong> users</li>
                                                                        <li><strong>Unlimited</strong> file uploads</li>
                                                                        <li> <strong>Limited </strong> phone support</li>
                                                                        <li><strong>Email + Chat </strong> support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li>Take <strong>backups </strong> anytime</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="http://secure.fleetnext.com/signup" class="btn">Signup free trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container best-value">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                 Large	        		
                                                        </div> <!-- /plan-title -->

                                                    <div class="plan-price">
                                                        <span class="note WebRupee ">Rs.</span>45000<span class="term">Per year</span>
                                                                </div> <!-- /plan-price -->

                                                </div> <!-- /plan-header -->	          

                                                <div class="plan-features">
                                                                <ul>					
                                                                        <li>Upto <strong>75 </strong> vehicles</li>
                                                                        <li>All modules and features</li>
                                                                        <li>Upto <strong>50</strong> users</li>
                                                                        <li><strong>Unlimited</strong> file uploads</li>
                                                                        <li> <strong>Limited </strong> phone support</li>
                                                                        <li><strong>Email + Chat </strong> support</li>
                                                                        <li> <strong>SSL </strong> security</li>
                                                                        <li>Take <strong>backups </strong> anytime</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="http://secure.fleetnext.com/signup" class="btn">Signup free trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->
                                    </div> <!-- /plan-container -->

                                    <div class="plan-container">
                                        <div class="plan">
                                                <div class="plan-header">

                                                        <div class="plan-title">
                                                                Enterprise	        		
                                                        </div> <!-- /plan-title -->

             

                                                </div> <!-- /plan-header -->	       

                                                <div class="plan-features">
                                                                <ul>
                                                                        <li><strong>75+</strong> vehicles</li>
                                                                        <li> <%= link_to "Contact us", website_contact_path() %> for a custom quote based on your requirements.</li>
                                                                </ul>
                                                        </div> <!-- /plan-features -->

                                                        <div class="plan-actions">				
                                                                <a href="http://secure.fleetnext.com/signup" class="btn">Signup free trial</a>				
                                                        </div> <!-- /plan-actions -->

                                                </div> <!-- /plan -->

                                    </div> <!-- /plan-container -->


                                </div> <!-- /pricing-plans -->

                        </div> <!-- /grid-12 -->

                </div> <!-- /row -->               
                
                <div class="row">
                  <div class="grid-12">
                     <ol class="faq-list">

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">1</div></div>
                                                <div class="faq-text">
                                                        <h4>How is Fleetnext priced ?</h4>
                                                        <p>We offer different plans depending on the <strong>size of your fleet (number of vehicles)</strong>. 
                                                          Each plan is available on yearly subscription basis.
                                                          As the size of your fleet changes, you can upgrade/downgrade your plan accordingly.                                                         
                                                        </p>	
                                                </div>	
                                        </li>                                        
                                        <li>
                                            <div class="faq-icon"><div class="faq-number">2</div></div>
                                                <div class="faq-text">
                                                        <h4>How does free trial work ?</h4>
                                                        <p>You are encouraged to sign up for a no-obligation free trial to evaluate Fleetnext immediately. 
                                                           The free trial gives you unrestricted access to all modules and features for 30 days. 
                                                           No credit card or payment information is required to signup for free trial.
                                                         </p>	
                                                </div>	
                                        </li>

                                        <li>
                                            <div class="faq-icon"><div class="faq-number">3</div></div>
                                                <div class="faq-text">
                                                   <h4>What happens after free trial expires ?</h4>
                                                    <p>Towards the end of your free trial period, we will contact you by email.
                                                       You can choose to select one of our yearly subscription plans to continue using Fleetnext.
                                                       In case you dont wish to use Fleetnext anymore, we will cancel your account.                                                       
                                                    </p>	
                                            </div>
                                        </li>

                                        <li>
                                           <div class="faq-icon"><div class="faq-number">4</div></div>
                                                <div class="faq-text">
                                                        <h4>Are there any setup fees ?</h4>
                                                        <p>No. There is only a single yearly subscription cost. There are no other hidden costs such as 
                                                          setup fees, support or version upgradation.
                                                        </p>	
                                           </div>	
                                        </li>
                                        
                                        <li>
                                           <div class="faq-icon"><div class="faq-number">5</div></div>
                                                <div class="faq-text">
                                                        <h4>What are my payment options ?</h4>
                                                        <p>For customers from India, we currently accept Cheque (check), Bank transfers and Paypal.
                                                           Customers outside India can use paypal.</p>	
                                           </div>	
                                        </li>                                                           
                           </ol>
                  </div>
                </div><!-- /row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->

</div> <!-- /content -->