<% content_for :head do  %>
  <%= stylesheet_link_tag "tour.css" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>
<% end %>

<div id="page-title">

        <h1>Take a tour</h1>
        <p>See how web-based fleet software helps</p>

</div> <!-- /page-title -->


<div id="content">

        <div class="container">

                <div class="row">

                        <div class="grid-12">

                                <div class="service-item">
                                        <h3>Improve record-keeping and reduce paperwork</h3><br/>
                                        <p>
                                          Fleetnext provides an easy to use, intuitive interface to manage fleet information online.
                                          From vehicle acquisition to disposal, important vehicle lifecycle data such as purchase details, maintenance history, repairs, fuel transactions,
                                          tyre positions can be stored with Fleetnext. Scan and upload any vehicle paperwork such as invoices, warranty cards, registration documents,
                                          service work-orders etc. Search, share and export this data whenever required.
                                        </p>
                                        <%= image_tag "tour/1.png", :alt => "Maintenance, repairs, fuel, tyre, cloud, web-based fleet software" %>
                                </div>

                                <hr/>

                                <div class="service-item">                                    
                                    <div class = "row">
                                      <div class="grid-5">
                                        <h3>Secure access from anywhere, anytime</h3> <br/>                                        
                                        <p>                                    
                                          Fleetnext is web-based software and thus no local software installation is required.
                                          Multiple users can securely access and update vehicle information from any branch or office. 
                                          Latest snapshot of fleet data is automatically made available to all the users. <br/><br/>
                                          Get access to key analytics or reports from a mobile device while you are on the move.
                                          All data traffic between the user and Fleetnext is encrypted using SSL technology.
                                        </p>
                                      </div>
                                      <div class="grid-7">
                                        <%= image_tag "tour/2.png", :alt => "Desktop, tablet, smartphone access anywhere" %>
                                      </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="service-item">
                                        <h3>Reduce total cost of vehicle ownership (TCO)</h3><br/>
                                        <p>
                                          Vehicles are expensive to acquire and maintain.
                                          Fleetnext's reporting and analytics capabilities gives fleet managers better insights to understand the patterns in maintenance, tyre and fuel spending.
                                          Make informed decisions, undertake timely actions to minimize expenses and streamline operations.
                                        </p>
                                        <%= image_tag "tour/3.png", :alt => "Analytics, graphs, reports" %>
                                </div>

                                <hr/>

                                <div class="service-item">
                                        <h3>Extend vehicle lifetime</h3><br/>
                                        <p>
                                          Regular preventive maintenance (PM) of your vehicles helps prolong its life and reduce vehicle downtime due to unforeseen breakdowns. 
                                          With Fleetnext, you can set-up a preventive maintenance schedule customized for every vehicle in the fleet.
                                          Receive reminders via email to alert you when a vehicle is due for service.
                                        </p>
                                        <%= image_tag "tour/4.png", :alt => "Preventive maintenance scheduling for vehicles" %>
                                </div>

                                <hr/>                                

                                <div class="service-item">                                        
                                        <div class = "row">
                                          <div class="grid-5">
                                            <h3>Stay in compliance</h3><br/>
                                            <p>
                                              Vehicle documents such as permits, insurance certificates, registrations, taxes need to be renewed on timely basis to stay in compliance with local transportation authorities and avoid late renewal penalties.
                                              Fleetnext will alert you with reminders when documents are due for renewal. Similarly, driver license renewals can be managed using Fleetnext.
                                            </p>
                                          </div>
                                          <div class="grid-7">
                                            <%= image_tag "tour/5.png", :alt => "Vehicle document renewal reminders" %>
                                          </div>
                                        </div>                                        
                                </div>

                                <hr/>

                                <div class="service-item">
                                  <div class="row">
                                        <div class="grid-7">
                                          <%= image_tag "tour/6.png", :alt => "Cloud hosted infrastructure scales, great support" %>
                                        </div>                                    
                                        <div class="grid-5">
                                          <h3>Scalable solution backed by great support</h3><br/>
                                          <p>
                                            Being a "cloud" hosted platform, we take care of IT infrastructure (servers, databases) that work behind the scenes. 
                                            This infrastructure scales to seamlessly accommodate additional vehicles and workload as your organization grows. <br/><br/>
                                            All this is backed with prompt technical support (via email, phone), useful tutorials and an ever-growing knowledge base.
                                            If there is any problem or question with the software, we are there to help you and we never charge you for that !
                                          </p>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="service-item"> 
                                  <div class="row">
                                    <div class="grid-12 pagination-centered">
                                      <%= link_to "See features list", features_path %>
                                    </div>
                                  </div>
                                </div>                                

                        </div> <!-- /grid-12 -->
                </div> <!-- row -->

                <%= render :partial => "signup" %>

        </div> <!-- /container -->
  </div> <!-- /content -->